:root {
    --orange:  rgb(250, 200, 0);
    --yellow:  rgb(250, 250, 50);
    --dark_bg:  rgb(40, 40, 40);
    --med_gray: rgb(150, 150, 150);
    --dark_gray:  rgb(100, 100, 100);
    --light_gray:  rgb(175, 175, 175)
}

body {
    background-color: var(--dark_bg);
    user-select: none;
}

header {
    //width:  60%;
    width:  300px;
    margin: 5px auto;
    background: linear-gradient(var(--orange), var(--yellow));
    text-align: center;
    letter-spacing: 2px;
    color:  black;
    padding:  3px 5px;
}

header:hover {
    background: linear-gradient(var(--yellow), var(--orange));
}



#header-1a {
    font-weight: bold;
    //text-shadow: .25px .25px 2px var(--yellow),
                -.25px -.25px 2px var(--yellow);
    //position:  absolute;
}

#header-1b {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    display:  inline-block;
    font-size: 12px;
    font-weight: 550;
    letter-spacing: 0;
    text-align: center;
    justify-content: center;
    //background-color:  green;
}

#header-1c {
    padding: .5px 3px;
    color:  var(--yellow);
    background-color:  var(--dark_bg);

    //text-shadow: .25px .25px 1px var(--orange),
                -.25px -.25px 1px var(--orange);
}

#header-1c:hover {
    color: var(--orange)
}

#message_area {
    //width:  60%;
    width:  300px;
    //height:  50px;
    margin: 15px auto;
    //background-color: var(--med_gray);
    padding:  .05px;
    text-align:  center;
}

#message, #choice_message {
    color:  var(--orange);
    text-align: center;
    //text-shadow: .25px .25px 1px var(--yellow)
}

#instructions {
    color:   var(--yellow);
    //text-shadow: .25px .25px 25px var(--orange)
}

#briefcase_area {
    margin: 25px auto;
    width: 275px;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(6, 25px);
    grid-gap:  15px;
    justify-content: center;
    padding:  10px;
    border-radius: 5px;
    //box-shadow: .25px .25px 10px var(--yellow),
                -.25px -.25px 10px var(--orange);
}

#chosen_area {
    margin:  auto;
    width:  40px;
    height: 25px;

}

.briefcases, #chosen_case {
    //background-color:  var(--med_gray);
    position: relative;
    background:  linear-gradient(var(--med_gray), var(--light_gray), var(--med_gray));
    border: 3px double var(--light_gray);
    text-align: center;
    border-radius: 5px;
    box-shadow: .5px .5px 3px black,
                -.5px -.5px 3px black;
}

.briefcases:hover {
    transform: scale(1.1);
    //border-color: var(--dark_gray);
    //box-shadow: .5px .5px 5px var(--light_gray),
            -.5px -.5px 5px var(--light_gray);
    //color: var(--dark_bg)
}

.handles {
    position: absolute;
    border: 2px solid var(--med_gray);
    width: 20px;
    height: 10px;
    border-radius: 5px;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.golden {
    box-shadow: .5px .5px 5px var(--yellow),
        -.5px -.5px 5px var(--yellow);
}